{% extends 'makeup/base.html' %}

{% block content %}
    <p></p>
<button type="button" class="btn btn-secondary"><a href="{% url 'brand-create'%}" style="color: white;">Add Brand</a></button>

    
{% if list %}
    <ul>
    {% for brand in list %}
        <li><a href={{ brand.getUrl }}>{{ brand.name }}</a></li>
        <button type="button" class="btn btn-secondary"><a href="{% url 'brand-update' brand.id %}" style="color: white;">Update Post</a></button>
        <button type="button" class="btn btn-danger"><a href="{% url 'brand-delete' brand.id %}" style="color: white;">Delete Post</a></button>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

{% endblock content %}