<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{name}}</h1>
    id :<h2>  {{  product.id }}             </h2>      
  name       : <h2>  {{  product.name }}  </h2>    
  kind       :  <h2>  {{  product.kind }}  </h2>
  descreption:  <h2>  {{  product.descreption }}  </h2>
  expirDate  :   <h2>  {{  product.expirDate }}  </h2>
  price      :    <h2>  {{  product.price }}  </h2>

</body>
</html>