{% extends 'makeup/base.html' %}

{% block content %}
    

{% if list %}
    <ul>
    {% for brand in list %}
        <li><a href={{ brand.getUrl }}>{{ brand.name }}</a></li>
        <button type="button" class="btn btn-secondary"><a href="{% url 'product-update' brand.id %}" style="color: white;">Update Post</a></button>
        <button type="button" class="btn btn-danger"><a href="{% url 'product-delete' brand.id %}" style="color: white;">Delete Post</a></button>

    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
  
{% endif %}
<button type="button" class="btn btn-secondary"><a href="{% url 'product-manage' %}" style="color: white;">Add new product</a></button>

{% endblock content %}